
#create{
  font-family: 'Big Shoulders Stencil Text', cursive;

}


#city{
  width :200px;
}

#zip{
  width:100px;
}

#checkoutbutton{
  width: 451px;
  height: 64px;
}

.top{
  margin-left: auto;
  margin-right: auto;
}
.middle{
  margin-left: auto;
  margin-right: auto;
}
.bottom{
  margin-left: auto;
  margin-right: auto;
}

.buy{
  background-color: white;
  max-width: 800px;
  border-radius: 12px;


}

.buy input{
  width : 20rem;
  margin-left: 10px;
}

.singleInput{
 margin-top:10px;
}

.cvv-expiry input{
  width:150px;
}

.content label{
  margin-left: 16px;
}

.accept-button{
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  text-transform: uppercase;
}

.agree p{
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}


.round{
  display:flex;
  justify-content: center;
   align-items:center;


   width: 150px;
   height: 150px;
   border: 2px solid gray;
   border-radius: 50%;
}

.round-footer{
  margin-left:5px;
}





body {
    background-color: #eee
}
